body {
  line-height: 1.6;
}

.navbar-title {
  font-weight: 600;
}

h1, h2, h3 {
  letter-spacing: 0;
}

#title-block-header .subtitle {
  font-size: 1.15rem;
  font-weight: 400;
  color: #39729E;
}

.nav-footer {
  font-size: 0.92rem;
}
